<div class="row" data-ng-controller="DepartmentCtrl" data-ng-init="viewDepartment()">
    <form data-monster-validate="save()" class="form-horizontal">

        <div class="col-md-12 ">
            <div class="portlet box blue">

                <div class="portlet-title">
                    <div class="caption">
                        {{'HEADER.DEPARTMENT_MANAGEMENT' | translate}}
                    </div>
                </div>

                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">

                            <div class="form-group">
                                <label class="control-label col-md-3">{{'LABEL.NAME' | translate}}</label>
                                <div class="input-group col-xs-12 col-md-6">
                                    <input type="text" class="form-control validate[required]" data-ng-model="DepartmentData.name" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3">{{'LABEL.BRANCH' | translate }}</label>
                                <div class="input-group col-xs-12 col-md-6">
                                    <select data-ng-model="DepartmentData.branch_id" data-ng-options="item.id as item.name for item in listBranch" class="form-control validate[required]">
                                    </select>
                                </div>
                            </div>
                            <div ng-if="userInfo.cs_code == 'badinco'" class="form-group">
                                <label class="control-label col-md-3">{{'LABEL.ASSIGNMENT_DEPARTMENT_MANAGER' | translate}}</label>
                                <div class="input-group col-xs-12 col-md-6">
                                    <autocomplete ng-model="DepartmentData.manager_name" data="listUserAuto" on-type="updateListUser" attr-placeholder=""></autocomplete>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions text-right">
                            <button class="btn blue" type="submit">{{'LABEL.SUBMIT' | translate}}</button>
                            <a class="btn default" ui-sref="app.department.list">{{'LABEL.BACK_TO_LIST' | translate}}</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </form>
</div>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad harum itaque nesciunt nulla, perspiciatis quae sapiente? Assumenda delectus dicta dolores fugit, hic ipsum molestias nemo perspiciatis, quo recusandae reprehenderit!