<div class="row" data-ng-controller="DepartmentCtrl" data-ng-init="listDepartment()">
    <div class="col-md-12 ">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    {{'HEADER.DEPARTMENT_MANAGEMENT' | translate}}
                </div>
            </div>
            <div class="portlet-body">

              <div class="table-toolbar">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <a class="btn green" ui-sref="app.department.update">
                                {{'LABEL.ADD_NEW' | translate }} <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover table-customer grid" style="width:100%;" id="sort" >
                    <thead>
                        <tr>
                            <th>{{'LABEL.STT' | translate}}</th>
                            <th>{{'LABEL.NAME' | translate}}</th>
                            <th>{{'LABEL.BRANCH' | translate}}</th>
                            <th>{{'LABEL.OPTION' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="(i,item) in listData | orderBy:'branch_id' ">
                            <td class="table-cursor" data-ng-click="goStateDetail(item.id)" >{{i + 1 + itemNo }}</td>
                            <td class="table-cursor" data-ng-click="goStateDetail(item.id)" >{{item.name}}</td>
                            <td class="table-cursor" data-ng-click="goStateDetail(item.id)" >{{item.branch.name}}</td>
                            <td>                                     
                                <a class=" text-muted" data-ng-click="goStateDetail(item.id)"><i class="fa fa-pencil"></i>{{'LABEL.EDIT' | translate}}</a>&nbsp
                                <a data-ng-click="askRemove(item.id)" class=" text-muted"><i class="fa fa-trash"></i>{{'LABEL.REMOVE' | translate}}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    {{'LABEL.TOTAL_RECORD' | translate}} : {{searchData.totalItems}}
                </div>
                <div class="col-xs-6 text-right">
                    <pagination ng-change="listDepartment()" total-items="searchData.totalItems" items-per-page="searchData.itemsPerPage" ng-model="searchData.currentPage" max-size="maxSize" class="pagination-sm"></pagination>
                </div>
            </div>
        </div>
    </div>
</div>


</div>