<div class="row" data-ng-controller="PermissionCtrl" data-ng-init="listPermission()">
    <div class="col-md-12 ">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    {{'HEADER.PERMISSION_MANAGEMENT' | translate}}
                </div>
            </div>
            <div class="portlet-body">

              <div class="table-toolbar">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group">
                                <a class="btn green" ui-sref="app.permission.update">
                                    {{'LABEL.ADD_NEW' | translate }} <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'LABEL.NAME' | translate}}</th>
                                <th>{{'LABEL.TITLE' | translate}}</th>
                                <th>{{'LABEL.STATUS' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="(i,item) in listData">
                                <td class="table-cursor" data-ng-click="goStateDetail(item.id)">{{i + 1 + itemNo }}</td>
                                <td class="table-cursor" data-ng-click="goStateDetail(item.id)">{{item.name}}</td>
                                <td class="table-cursor" data-ng-click="goStateDetail(item.id)">{{item.title}}</td>
                                <td class="table-cursor" data-ng-click="goStateDetail(item.id)">
                                    <span class="badge badge-roundless" ng-class="{'badge-primary' : item.status==1, 'badge-danger' : item.status==0 }">
                                        <span ng-show="item.status==1">{{'LABEL.ACTIVE' | translate}}</span>
                                        <span ng-show="item.status==0">{{'LABEL.DEACTIVE' | translate }}</span>
                                    </span>
                                </td>
                                <td>
                                    
                                    <a data-ng-click="goStateDetail(item.id)" class="text-muted"><i class="fa fa-pencil"></i>{{'LABEL.EDIT' | translate}}</a>
                                    <a data-ng-click="askRemove(item.id)" class="text-muted"><i class="fa fa-trash"></i>{{'LABEL.REMOVE' | translate}}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <pagination ng-change="listPermission()" total-items="searchData.totalItems" items-per-page="searchData.itemsPerPage" ng-model="searchData.currentPage" max-size="maxSize" class="pagination-sm"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>