<!-- BEGIN HEADER INNER -->
<div class="page-header-inner" >
    <!-- BEGIN LOGO -->
    <div class="page-logo">        
        <a href="#/" class="customer">
            STEED OFFICE
        </a>        
        <div class="menu-toggler sidebar-toggler hide">            
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    <form class="search-form hide" data-monster-validate="search()" >
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{{'LABEL.SEARCH' | translate}}" name="query" data-ng-model="query">
			<span class="input-group-btn">
			<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
			</span>
        </div>
    </form>
    <!-- END HEADER SEARCH BOX -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <div class="top-menu">
        <ul class="nav navbar-nav pull-right">
            <!-- BEGIN NOTIFICATION DROPDOWN -->            
            <li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <i class="icon-bell"></i>
                <span class="badge badge-danger" ng-show="Notification.total > 0">
                    {{Notification.total}} </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="external">
                        <h3><span class="bold">{{Notification.total}}</span> {{'LABEL.NOTIFICATION' | translate}}</h3>
                        <a href="#/app/notification">{{'LABEL.NOTIFICATION_ALL' | translate}}</a>
                    </li>
                    <li>                        
                        <ul class="dropdown-menu-list scroller" style="height: 300px; overflow-y: auto" data-handle-color="#637283">
                            <li ng-repeat="data in Notification.data">
                                <a href="{{data.link}}">
                                    <span class="photo">
                                        <img ng-src="{{data.avatar}}" class="img-circle" alt=""/>
                                    </span>
                                    <span class="subject">
                                    <span class="from">
                                    {{data.fullname}} </span>
                                    <span class="time">data.time </span>
                                    </span>
                                    <span class="message">
                                    {{data.message}} </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!-- END NOTIFICATION DROPDOWN -->

            <!-- BEGIN LANGUAGE BAR -->
            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
            <li class="dropdown dropdown-language hide">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                    <img alt="" src="assets/global/img/flags/us.png">
				<span class="langname">
				EN </span>
                    <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li class="active">
                        <a href="#">
                            <img alt="" src="assets/global/img/flags/us.png"> English </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="assets/global/img/flags/de.png"> German </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="assets/global/img/flags/ru.png"> Russian </a>
                    </li>
                    <li>
                        <a href="#">
                            <img alt="" src="assets/global/img/flags/fr.png"> French </a>
                    </li>
                </ul>
            </li>
            <!-- END LANGUAGE BAR -->
            <!-- BEGIN USER LOGIN DROPDOWN -->
            <li class="dropdown dropdown-user">
                <a href="#" class="dropdown-toggle" dropdown-menu-hover data-toggle="dropdown" data-close-others="true">
                <img alt="" class="img-circle" ng-src="{{userInfo.avatar}}" />
                <span class="username username-hide-on-mobile">
                {{userInfo.fullname}} </span>
                <i class="fa fa-angle-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-default">
                    <li>
                        <a ng-click="GotoChangeInfo()">
                        <i class="icon-user"></i> {{'LABEL.USER_INFOMATION' | translate}} </a>
                    </li>
                    <li class="divider">
                    </li>

                    <li>
                        <a ng-click="GotoChangePassword()">
                        <i class="icon-lock"></i>  {{'LABEL.CHANGE_PASSWORD' | translate}} </a>
                    </li>
                    
                    <li>
                        <a data-ng-click="logout()" >
                        <i class="icon-key"></i> {{'LABEL.LOGOUT' | translate}} </a>
                    </li>
                </ul>
            </li>            
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END TOP NAVIGATION MENU -->
</div>
<!-- END HEADER INNER -->
