<div class="row" data-ng-controller="CityCtrl" data-ng-init="listCity()">
    <div class="col-md-12 ">
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    {{'HEADER.CITY_MANAGEMENT' | translate}}
                </div>
            </div>
            <div class="portlet-body">

              <div class="table-toolbar">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="btn-group">
                                <a class="btn green" ui-sref="app.city.update">
                                    {{'LABEL.ADD_NEW' | translate }} <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{'LABEL.NAME' | translate}}</th>
                                <th>{{'LABEL.STATUS' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="(i,item) in listData">
                                <td>{{i + 1 + itemNo }}</td>
                                <td><a ui-sref="app.city.update({cityID : item.id})">{{item.name}}</a> </td>
                                <td>
                                    <span class="badge badge-roundless" ng-class="{'badge-primary' : item.active==1, 'badge-danger' : item.active==0 }">
                                        <span ng-show="item.active==1">{{'LABEL.ACTIVE' | translate}}</span>
                                        <span ng-show="item.active==0">{{'LABEL.DEACTIVE' | translate }}</span>
                                    </span>
                                </td>
                                <td>
                                    <button data-ng-click="remove(item.id)" class="btn btn-xs btn-danger">{{'LABEL.REMOVE' | translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <pagination ng-change="listCity()" total-items="searchData.totalItems" items-per-page="searchData.itemsPerPage" ng-model="searchData.currentPage" max-size="maxSize" class="pagination-sm"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>