<div class="form-horizontal">
    <div class="modal-header">
        <h3 class="modal-title">Tạo mới kế hoạch công việc</h3>
    </div>    
    <div class="modal-body">
        <div class="container">
            <div class="row col-md-6">
                <div class="form-group col-xs-12">
                    <label class="col-md-3 control-label">Thuộc nhóm</label>
                    <div class="input-group col-md-8 col-xs-12">
                        <select data-ng-model="AssigModalData.category_id" data-ng-options="item.id as item.name for item in listCategoryNews" class="form-control">
                        </select>
                    </div>
                </div>
                <!-- Tên công việc -->
                <div class="form-group col-xs-12">
                    <label class="col-md-3 control-label">Tên công việc</label>
                    <textarea class="input-group col-md-8" ng-model="AssigModalData.description"></textarea>
                </div>
                <!-- Ngày bắt đầu -->
                <div class="form-group col-xs-12">
                    <label class="col-md-3 control-label">{{'LABEL.START_DATE' | translate}}</label>
                    <div class="input-group col-md-6">
                        <input type="text" class="form-control validate[required,custom[date]]" data-ng-model="AssigModalData.time_create" datetime-picker-jquery id="time_create" date-format="d/m/Y - H:i"/>
                        <div class="input-group-btn">
                            <button class="btn" type="button" show-datetimepicker-trigger id-show="time_create"><i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
                <!-- Ngày hết hạn -->
                <div class="form-group col-xs-12">
                    <label class="col-md-3 control-label">{{'LABEL.EXPERT_DATE' | translate}}</label>
                    <div class="input-group col-md-6">            
                        <input type="text" class="form-control" data-ng-model="AssigModalData.date_expert" id="date_expert" datetime-picker-jquery date-format="d/m/Y - H:i"/>
                        <div class="input-group-btn">
                            <button class="btn" type="button" show-datetimepicker-trigger id-show="date_expert"><i class="fa fa-calendar"></i></button>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" ng-click="create()">{{'LABEL.OK' | translate}}</button>
                <button class="btn btn-warning" ng-click="cancel()">{{'LABEL.CANCEL' | translate}}</button>
            </div>
        </div>
    </div>
</div>