<div class="modal-header">
    <h3 class="modal-title">{{'LABEL.SELECT_GROUP' | translate}}</h3>
</div>
<div class="modal-body list-branch">
    <ul>
        <li class="bg-blue">
            <label class="checkbox">
                <div class="checker">
                    <span>
                        <input type="checkbox" data-ng-checked="company.indexOf(1) != -1" data-ng-click="toggleCheckCompany(1)">
                    </span>
                </div>
                {{'LABEL.ALL_COMPANY' | translate}} ({{listGroup.length}})
            </label>
            <ul>
                <li data-ng-repeat="item in listGroup" class="bg-branch">
                    <span class="label">
                        <label class="checkbox">
                            <div class="checker">
                                <span ng-class="{checked: group.indexOf(item.id) != -1}">
                                    <input type="checkbox" data-ng-checked="group.indexOf(item.id) != -1" data-ng-click="toggleCheckUser(item)">
                                </span>
                            </div>
                            {{item.name}}
                        </label>
                    </span>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="select()">{{'LABEL.OK' | translate}}</button>
    <button class="btn btn-warning" ng-click="cancel()">{{'LABEL.CANCEL' | translate}}</button>
</div>  