<div data-ng-init="viewHistory()">
	<div class="modal-header">
	    <h3 class="modal-title">{{'LABEL.HISTORY_REPLACE_FILE' | translate}}</h3>
	</div>
	<div class="modal-body row">
		<div class="history-modal row col-md-12 col-xs-12" data-ng-repeat="(i,item) in listHistory">
	    	<div class="col-md-3 col-xs-12">
	    		<div class="col-md-4">
	    			<img ng-src="api/public/{{item.avatar}}">
	    		</div>
	    		<div class="col-md-8">
	    			{{item.user_id}}</br>
	    			{{item.time_create}}
	    		</div>
	    	</div>
	    	<div class="file col-md-6 col-xs-12">
				<a value="{{item.name}}">{{item.name}}</a>
				{{'LABEL.DESCRIPTION' | translate}} : {{item.description}}
	    	</div>
	    	<div class="col-md-3 col-xs-12">
				<span class="col-xs-12">{{'LABEL.SIZE' | translate}} : {{item.size | number}} Kb</span>
				<div class="col-xs-12">
					<a view-file="{{item.type}}" url="{{item.full_url}}" target="_blank">{{'LABEL.VIEW' | translate}}</a>
					<a data-ng-click="askRemove(item.file_id)">{{'LABEL.REMOVE' | translate}}</a>
	                <a data-ng-click="getDownload(value.file_id,value.url)">{{'LABEL.DOWNLOAD' | translate}}</a>
                </div>
	    	</div>
	    </div>
	</div>
	<div class="modal-footer">
	    <button class="btn btn-warning" type="button" ng-click="cancel()">{{'LABEL.ESCAPE' | translate}}</button>
	</div>
</div>
