<form data-monster-validate="save()">
    <div class="modal-header">
        <h3 class="modal-title">{{'HEADER.UPDATE_MEMBER' | translate}}</h3>
    </div>
    <div class="modal-body">
            <div class="form-body">
                <div class="form-group">
                    <label>{{'LABEL.MAIN_PERSON' | translate}}</label>
                    <div class="input-group col-xs-12">
                        <tags-input ng-model="AssignData.main_person_user" display-property="name" placeholder="{{'LABEL.ADD_AN_USER' | translate}}"
                        replace-spaces-with-dashes="false"
                        add-from-autocomplete-only="true"
                        on-tag-added="addUser($tag,'main_person')"
                        on-tag-removed="removeUser($tag,'main_person')">
                            <auto-complete display-property="name"
                            source="loadUsers($query)"
                             min-length="0"
                            template="template/search-user.html"
                             max-results-to-show="12"></auto-complete>
                        </tags-input>
                        <div class="input-group-btn">
                            <button data-ng-click="openModal('main_person')" class="btn" type="button"><i class="fa fa-book"></i> {{'LABEL.SELECT' | translate}}</button>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>{{'LABEL.COORDINATOR' | translate}}</label>
                    <div class="input-group col-xs-12">
                        <tags-input ng-model="AssignData.coordinator_user" display-property="name" placeholder="{{'LABEL.ADD_AN_USER' | translate}}"
                        replace-spaces-with-dashes="false"
                        add-from-autocomplete-only="true"
                        on-tag-added="addUser($tag,'coordinator')"
                        on-tag-removed="removeUser($tag,'coordinator')">
                            <auto-complete display-property="name"
                            source="loadUsers($query)"
                             min-length="0"
                            template="template/search-user.html"
                             max-results-to-show="12"></auto-complete>
                        </tags-input>
                        <div class="input-group-btn">
                            <button data-ng-click="openModal('coordinator')" class="btn" type="button"><i class="fa fa-book"></i> {{'LABEL.SELECT' | translate}}</button>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>{{'LABEL.BACKER' | translate}}</label>
                    <div class="input-group col-xs-12">
                        <tags-input ng-model="AssignData.backer_user" display-property="name" placeholder="{{'LABEL.ADD_AN_USER' | translate}}"
                        replace-spaces-with-dashes="false"
                        add-from-autocomplete-only="true"
                        on-tag-added="addUser($tag,'backer')"
                        on-tag-removed="removeUser($tag,'backer')">
                            <auto-complete display-property="name"
                            source="loadUsers($query)"
                             min-length="0"
                            template="template/search-user.html"
                             max-results-to-show="12"></auto-complete>
                        </tags-input>
                        <div class="input-group-btn">
                            <button data-ng-click="openModal('backer')" class="btn" type="button"><i class="fa fa-book"></i> {{'LABEL.SELECT' | translate}}</button>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">{{'LABEL.OK' | translate}}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{'LABEL.CANCEL' | translate}}</button>
    </div>
</form>