<form data-monster-validate="save()">
    <div class="modal-header">
        <h3 class="modal-title">{{'LABEL.UPDATE_PROGRESS' | translate}}</h3>
    </div>
    <div class="modal-body">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4">{{'LABEL.USER_REVIEW' | translate}}</label>
                    <div class="input-group col-xs-12">
                        {{userInfo.name}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-4">{{'LABEL.TIME_REVIEW' | translate}}</label>
                    <div class="input-group col-xs-12">
                        {{ JobProgressData.date | date:'dd-MM-yyyy - HH:mm'}}
                    </div>
                </div>
                <div class="row" style="margin:0px;">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-btn"><button class="btn">0%</button></div>
                                <input id="precent" type="range" class="form-control" ng-model="JobProgressData.percent" min="Options.min" step="Options.step"
                       max="Options.max" value="JobProgressData.percent" tooltip="{{JobProgressData.percent}}%">
                                <div class="input-group-btn"><button class="btn">100%</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit">{{'LABEL.UPDATE' | translate}}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{'LABEL.CANCEL' | translate}}</button>
    </div>
</form>