<div class="row" data-ng-controller="CompanyCtrl" data-ng-init="viewCompany()">
    <form data-monster-validate="save()">
        <div class="col-md-12 ">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        {{'HEADER.COMPANY_MANAGEMENT' | translate}}
                    </div>
                </div>
                <div class="portlet-body form">
                        <div class="form-body">

                            <div class="form-group">
                                <label>{{'LABEL.NAME' | translate}}</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control" ng-model="CompanyData.company_name">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{'LABEL.EMAIL' | translate}}</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                    <input type="text" class="form-control" ng-model="CompanyData.email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{'LABEL.ADDRESS' | translate}}</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control" ng-model="CompanyData.address">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{'LABEL.MOBILE' | translate}}</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control" ng-model="CompanyData.mobile">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{'LABEL.FAX' | translate}}</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control" ng-model="CompanyData.fax">
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{'LABEL.CITY' | translate}}</label>
                                <div class="input-group col-xs-12">
                                <select class="form-control validate[required]" data-ng-model="CompanyData.city_id" data-ng-options="item.id as item.name for item in listCity"></select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>{{'LABEL.DISTRICT' | translate}}</label>
                                <div class="input-group col-xs-12">
                                    <select class="form-control validate[required]" data-ng-model="CompanyData.district_id" data-ng-options="item.id as item.name for item in listDistrict[CompanyData.city_id]"></select>
                                </div>
                            </div>
                        </div>

                        <div class="form-actions text-right">
                            <button class="btn blue" type="submit">{{'LABEL.SUBMIT' | translate}}</button>
                            <button class="btn default" type="button">{{'LABEL.CANCEL' | translate}}</button>
                        </div>

                </div>
            </div>
        </div>
    </form>
</div>