<div class="row" data-ng-controller="GroupCtrl" data-ng-init="viewGroup()">
    <form data-monster-validate="save()">

        <div class="col-md-8">
            <div class="portlet box blue">
                
                <div class="portlet-title">
                    <div class="caption">
                    {{'HEADER.GROUP_SETTINGS' | translate}}
                    </div>
                </div>

                <div class="portlet-body form">
                    <table class="table table-hover table-condensed" data-ng-repeat="(key, value)  in GroupData.domains">
                        <thead>
                        <tr>
                            <th>{{'HEADER.PERMISSION' | translate}}</th>
                            <th data-ng-repeat="item in value.actions">
                                <a href="#">{{'LABEL.OPTION' | translate}}</a>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr data-ng-repeat="(field_name,field_actions) in value" data-ng-if="field_name!='actions'">
                            <td data-ng-repeat="(k,item) in value.actions" >
                                {{value[field_name][item]['title']}}
                            </td>
                            <td data-ng-repeat="(k,item) in value.actions">
                                <input data-ng-if="field_actions.hasOwnProperty(item)" type="checkbox" data-ng-model="GroupData.group_permissions[value[field_name][item]['perm_id']]" data-ng-checked="GroupData.group_permissions[value[field_name][item]['perm_id']] == value[field_name][item]['perm_id']" data-ng-true-value="{{value[field_name][item]['perm_id']}}" />
                                <span data-ng-if="!field_actions.hasOwnProperty(item)" class="help-inline small">{{'LABEL.NOT_USED' | translate}}</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div data-ng-if="GroupData.domains.length == 0" class="notification attention">{{'LABEL.AUTHENTICATION' | translate }}: 
                    {{'MESSAGE.YOU_DO_NOT_HAVE_THE_ABILITY_TO_MANAGE_THE_ACCESS_CONTROL_FOR_THIS_ROLE' | translate}}.</div>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="portlet box blue">

                <div class="portlet-title">
                    <div class="caption">
                        {{'HEADER.GROUP_MANAGEMENT' | translate}}
                    </div>
                </div>

                <div class="portlet-body form">
                    <form role="form">
                        <div class="form-body">

                            <div class="form-group">
                                <label>{{'LABEL.NAME' | translate}}</label>
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control validate[required]" data-ng-model="GroupData.name" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group col-xs-12">
                                    <label>
                                        <input type="checkbox" data-ng-model="GroupData.status" data-ng-checked="GroupData.status==1" ng-true-value="1" ng-false-value="0">
                                        {{'LABEL.ACTIVE' | translate}}
                                    </label>
                                </div>
                            </div>


                        </div>

                        <div class="form-actions text-right">
                            <button class="btn blue" type="submit">{{'LABEL.SAVE' | translate}}</button>
                            <a class="btn default" ui-sref="app.group.list">{{'LABEL.BACK_TO_LIST' | translate}}</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </form>
</div>