<div data-ng-controller="DashboardCtrl">
    <div class="row">
        <div class="col-md-12 ">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        {{'LABEL.SCHEDULER_MANAGEMENT' | translate}}
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="col-lg-6">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" ng-class="{active: type == 1}" ng-click="updateType(1)" type="button">{{'LABEL.DAY' | translate}}</button>
                                        <button class="btn btn-default" ng-class="{active: type == 2}" ng-click="updateType(2)" type="button">{{'LABEL.WEEK' | translate}}</button>
                                        <button class="btn btn-default" ng-class="{active: type == 3}" ng-click="updateType(3)" type="button">{{'LABEL.MONTH' | translate}}</button>
                                        <button class="btn btn-default" ng-class="{active: type == 4}" ng-click="updateType(4)" type="button">{{'LABEL.YEAR' | translate}}</button>
                                    </span>
                                </div>
                                <div class="col-lg-1">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ng-click="updateShowColumn()"><i class="fa fa-arrow-left"></i> {{'LABEL.HIDE' | translate}}</button>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <span class="input-group ">
                                    <span data-ng-click="downCount()" class="input-group-addon btn btn-default" id="basic-addon2"> < </span>
                                    <input style="text-align: center" class="form-control" data-ng-model="thisTime" type="text" >
                                    <span data-ng-click="upCount()" class="input-group-addon btn btn-default" id="basic-addon2"> > </span>
                                </span>
                            </div>

                            <!-- <div class="col-lg-3">
                                <div data-ng-show="showSelectUser" class="input-group">
                                    <span class="input-group-addon">
                                        <span class="fa fa-user"></span>
                                    </span>
                                    <select  data-ng-change="changeUser()" data-ng-model="user_id" data-ng-options="u.id as u.fullname for u in users" class="form-control"></select>
                                </div>
                            </div> -->
                        </div>
                            
                        <div class="row top10">
                            <div class="col-lg-12">
                                <div dhx-gantt data="tasks" gantt-show-title="test" gantt-configs="configs" gantt-go-detail="goDetail(id)" gantt-update-data="updateData(type,item)" style="height:500px;" class="col-xs-12">
                                    <div gantt-column gantt-show-column="show_column" label="{{'LABEL.TASKS_NAME' | translate}}">{{task.text}}</div>
                                    <div width="100" gantt-show-column="show_column" align="center" gantt-column label="100%">
                                        <input type="checkbox" class="complete">
                                    </div>
                                    <div gantt-template="task_text">
                                        <span>{{task.progress}}%</span> {{task.text}}</strong>
                                    </div>
                                </div>                          
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>